.app {
     /* Add app styles here */
}
.export-button {
    display: inline;
    float: left;
    width: 100px;
}
.environment-combo-box {
    display: inline;
    float: left;
    width: 160px;
}
.x-panel-body {
    height: auto !important;
}
.x-panel-default {
    height: auto !important;
}

.rui-triggerfield .x-form-field {
    border-right-width: 1px;
}
.rui-triggerfield:hover .x-form-field {
    border-right-width: 1px;
}